.profileSettings {
  padding: 10px;
  border: var(--entities-border);
  border-radius: var(--entities-border-radius);
  width: var(--entities-width);
}
.profileTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}
